# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg

# Compilación
build/
dist/
*.egg
nuitka_output/
.nuitka_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Artifacts
*.exe
*.spec
!interface.spec


# Dev
uis/
main.py
build_nuitka_local.py
